@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e9d5ff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8b4fe;
}

.prose {
  max-width: none;
}

.prose p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}